<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Veem_Payment::veem" title="Veem Admin Actions" translate="title" sortOrder="200" >
                    <resource id="Veem_Payment::generate_token" title="Veem Generate Token" translate="title" sortOrder="10"/>
                    <resource id="Veem_Payment::request_money" title="Veem Request Money from Orders" translate="title" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>