<?xml version="1.0"?>
<!--
/**
 * Created by PhpStorm 2018.3.1
 * Author: Tania
 * Date: 13th December 2018
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <veem_payment>
                <debug>1</debug>
                <active>1</active>
                <model>PaymentFacade</model>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <title>Pay with Veem</title>
                <currency>USD</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_for_multishipping>1</can_use_for_multishipping>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <group>online</group>
                <paymentInfoKeys>FRAUD_MSG_LIST</paymentInfoKeys>
                <privateInfoKeys>FRAUD_MSG_LIST</privateInfoKeys>
            </veem_payment>
        </payment>
    </default>
</config>